@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --body-typeface: "Inter", sans-serif;
  --background-color: #f8f8ff;
}

body {
  font-family: var(--body-typeface);
  background: var(--background-color);
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* The Essential CSS */

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://www.dropbox.com/s/k78gwb72oqu7rbj/logowhite.png?dl=1),
    url(https://www.dropbox.com/s/y2hod156okq1gk5/3-hand.png?dl=1),
    url(https://www.dropbox.com/s/xd1vrbyd10jnpv6/4-sparkle.png?dl=1),
    url(https://www.dropbox.com/s/313im9uij5q9pwk/2-person.png?dl=1),
    url(https://www.dropbox.com/s/utmnfdti2s41bim/1-back.png?dl=1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7%, 85% ,85%, 85%, 110%;
}

/* Non essential CSS for below the hero */

.work-projects {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}
