/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import 'bourbon';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Nunito Sans", sans-serif;
  --main-heading: "Barlow", sans-serif, thin;

}

body {
  font-family: var(--body-typeface);
  color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */

h1 {
  font-size: 6em;
  font-family: var(--main-heading);
  margin-bottom: 0.2em;
  color: white;
}

.hero-headline {
  color: white;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(8, 189, 189);
}

.scroll-text {
  color: #14838a;
}

p {
  margin-bottom: 1em;
}

/* Work Page Layout */

.work-wrapper {
  flex: 1;
}

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}


li {
  list-style-type: none;
}

.hero-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.main-footer {
  min-height: 100vh;
  /* background: #111; */
}

.hero-header {
  min-height: 10vh;
}

.hero-footer,
.hero-header,
.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: center;
}

.hero {
  min-height: 100vh;
  background: red;
}


/* Hero top */

.branding-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  z-index: 1;
  margin: 3rem 0;
  filter: drop-shadow(0 0 0.3rem black);
}

.logo {
  width:18rem;
  min-width: 15rem;
  margin: 2rem;
}

.icon {
  width: 5rem; 
  min-width: 5rem;

}

.header-links {

  display: flex;
  flex-direction: column;
  font-size: 18pt;
}

.menu-item {
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  margin: 1rem;
}




/* Hero bg */


.parallax.desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/header/3-hand.png),
    url(./assets/header/4-sparkle.png),
    url(./assets/header/2-person-v2.png),
    url(./assets/header/1-stars-only.png),
    url(./assets/header/1-back-no-star.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95%, 85%, 80%, 110%, cover;
}

.parallax {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(./assets/header/mobile-tablet.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.6;
}


.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
}


/* Social media buttons */

.social-media-menu {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 2rem;
}

.grow {
  transition: all 0.05s;
  margin: 0 4rem 0rem 0rem;
}

.grow:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.social-media-icon {
  filter: drop-shadow(0 0 0.3rem black);
}


.mailto-link {
  position: relative;
  padding: 8px 0;
  
}

.mailto-message {
  top: 20px;
  left: 150px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
  
}








/* Project Page */

.project-wrapper {
  display: flex;
  justify-content: space-between;
  background: #111;
  padding: 1em;
}

.project-aside {
  width: 35vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  color: white;
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 60vw;
  min-height: 410vh;
  background-image: linear-gradient(-225deg,
      #d1ddee 0%,
      #3c4280 50%,
      #0d0a27 100%);
  padding: 1em;
}







/* Large devices (ipad, 710px and up) */
@media only screen and (min-width: 710px) {


.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  z-index: 1;
  margin: 1rem 0 0 0;
}

.logo {
  width:18rem;
  min-width: 15rem;
  margin-left: 100px;
}

.icon {
  width: 4rem; 
  min-width: 4rem;
  margin-right: auto;
}

.header-links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  font-size: 16pt;
}

.menu-item {
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:0;
}


.social-media-menu {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 2rem;
}





/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  body {
    background: rgb(253, 170, 212);
  }


  .hero-footer,
.hero-header,
.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem;
  text-align: center;
}

  .branding-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 1;
    margin: 1rem 0 0 0;
  }
  
  .logo {
    width:25rem;
    margin-left: 160px;
  }
  
  .icon {
    width: 5rem; 
    margin-right: auto;
  }
  
  .header-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-size: 16pt;
  }
  
  .menu-item {
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }
  
  
  
  
  /* Hero bg */

  
  .footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  /* Social media buttons */
  
  .social-media-menu {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 2rem;
  }
  
  .grow {
    transition: all 0.05s;
    margin: 0 4rem 0rem 0rem;
  }
  
  .grow:hover {
    transform: scale(1.1);
    transform-origin: center;
  }
  
  .social-media-icon {
    filter: drop-shadow(0 0 0.3rem black);
  }
  
  
  .mailto-link {
    position: relative;
    padding: 8px 0;
    
  }
  
  .mailto-message {
    top: 20px;
    left: 150px;
    transform: translate(-50%, -100%);
    position: absolute;
    display: none;
    width: auto;
    white-space: nowrap;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
  }
  
  .mailto-link:hover .mailto-message,
  .mailto-link:focus .mailto-message,
  .mailto-link:focus-within .mailto-message {
    display: block;
    
  }






/* Extra large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 1200px) {
  body {
    background: rgb(98, 210, 218);
  }

  .branding-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 1;
    margin: 1rem 0 0 0;
  }
  
  .logo {
    width:25rem;
    margin-left: 160px;
  }
  
  .icon {
    width: 5rem; 
    margin-right: auto;
  }
  
  .header-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-size: 16pt;
  }
  
  .menu-item {
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }
  
} 
} 
}