/* Typography imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Hepta+Slab|Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import 'bourbon';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Styling Variables */
:root {
  --accent-color: #555;
  --body-typeface: "Nunito Sans", sans-serif;
  --main-heading: "Barlow Semi Condensed", sans-serif;

}

body {
  font-family: var(--body-typeface);
  color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Typography */

h1 {
  font-size: 4em;
  font-family: var(--main-heading);
  margin-bottom: 1rem;
  color: #111;
}

.hero-headline {
  color: white;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(8, 189, 189);
}

.scroll-text {
  color: #14838a;
}

p {
  margin-bottom: 1em;
  color: rgb(53, 53, 53);
}

/* Work Page Layout */

.work-wrapper {
  flex: 1;
}

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  grid-gap: 0.5rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}


li {
  list-style-type: none;
}

.hero-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}




.main-footer {
  height: 10vh;
  margin: auto;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}


.footer-socials {
  padding: 1rem; 
  border: indigo dotted;
}


.fa-lg {
  color: #111;
}

.fa-lg:hover {
  color: rgb(8, 189, 189);
}




.hero-header
.hero-header-project {
  min-height: 10vh;
}

.hero-footer,
.hero-header,
.hero-header-project
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: center;
}

.hero {
  min-height: 100vh;
}


/* Hero top */


.branding-navigation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: static;
  z-index: 1;
  margin: 0rem;
  filter: drop-shadow(0 0 0.3rem black);
}

.logo {

  width:18rem;
  min-width: 15rem;
  margin: 20vh 0 3rem 0;
}

.icon {
  width: 4rem; 
  min-width: 4rem;
}

.triangle {
  width: 0;
  height: 0;
  margin: 1rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
}


.header-links {
  margin-top: 5vh;
  display: flex;
  min-width: 70vw;
  justify-content: space-between;
  flex-direction: row;
  font-size: 16pt;
}

.menu-item {
  padding: 0 1rem;
  align-items: center;
}






/* Hero bg */


.parallax.desktop {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/header/3-hand.png),
    url(./assets/header/4-sparkle.png),
    url(./assets/header/2-person-v2.png),
    url(./assets/header/1-stars-only.png),
    url(./assets/header/1-back-no-star.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95%, 85%, 80%, 110%, cover;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/header/mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
  opacity: 0.5;
}


.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
}


/* Social media buttons */

.social-media-menu {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 2rem;
}

.grow {
  transition: all 0.05s;
  margin: 0 4rem 0rem 0rem;
}

.grow:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.ds {
  filter: drop-shadow(0 0 0.3rem black);
}


.mailto-link {
  position: relative;
  padding: 8px 0;
  
}

.mailto-message {
  top: 20px;
  left: 150px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
  
}


.home-gallery {
  cursor: zoom-in;
  overflow:hidden;
}

.home-gallery img {
  
  transition: 0.2s ease-in-out;
}

.home-gallery img:hover {
  
  filter: grayscale(50%) brightness(0.75);
  transition: 0.2s ease-in-out;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);

}


/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  display: block;
  width: 80%;
}



/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  height: 85vh;
}






.modalimg {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    object-fit: contain;
    height:100%;
    
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px 25px;
  margin-top: -50px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  transition: 0.3s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}











/* !!!!!!!!!!!!!!!!! Project Page */

.hero-header-project {
  background-color: #111;
}

.project-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  padding: 2rem;
  border: red dotted;
}

.project-aside {
  width: 25vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  color: white;
  padding: 1em;
  border: royalblue dashed;
  text-align: center;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  border: green double;
}

.arrow {
  padding-right: 1em;
  margin: auto;
}

.project-details {
  width: 70vw;
  min-height: 80vh;
 border:hotpink solid;
  padding: 1em;
}















/* Large devices (ipad, 710px and up) */
@media only screen and (min-width: 710px) {


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 40px 45px;
  margin-top: -50px;
  color: rgb(0, 0, 0);
  font-size: 30px;
  transition: 0.3s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
}


  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 0.5rem;
    /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
  }

  .triangle {
    display: none;
  }


.portfolio {
  padding: 3rem;
}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  z-index: 1;
  margin: 1rem 0 0 0;
}

.logo {
  width:15rem;
  min-width: 13rem;
  margin-left: 100px;
  margin: 0.25rem 0 0 0;
}

.icon {
  width: 3rem; 
  min-width: 3rem;
  margin-right: auto;
}

.header-links {
  margin-left: auto;
  margin-top: 0vh;
  min-width: 0vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 16pt;
  position:static;
}


.menu-item {
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  margin: 0 1rem;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:0;
}


.social-media-menu {
  display: flex;
  justify-content: center;
  margin: 0 0 2rem 2rem;
}


.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/header/tablet.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.6;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {




  
  .portfolio {
    padding: 5rem;
  }


  .hero-footer,
.hero-header,
.hero-header-project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem;
  text-align: center;
}

  .branding-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 1;
    margin: 1rem 0 0 0;
  }
  

  .logo {
    width:18rem;
    margin-left: 160px;
  }
  
  .icon {
    width: 3rem; 
    margin-right: auto;
  }
  
  .header-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-size: 14pt;
  }
  


  
  .menu-item {
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }
  
  
  
  
  /* Hero bg */

  
  .footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  /* Social media buttons */
  
  .social-media-menu {
    display: flex;
    justify-content: center;
    margin: 0 0 2rem 2rem;
  }
  
  .grow {
    transition: all 0.05s;
    margin: 0 4rem 0rem 0rem;
  }
  
  .grow:hover {
    transform: scale(1.1);
    transform-origin: center;
  }

  
  .mailto-link {
    position: relative;
    padding: 8px 0;
    
  }
  
  .mailto-message {
    top: 20px;
    left: 150px;
    transform: translate(-50%, -100%);
    position: absolute;
    display: none;
    width: auto;
    white-space: nowrap;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
  }
  
  .mailto-link:hover .mailto-message,
  .mailto-link:focus .mailto-message,
  .mailto-link:focus-within .mailto-message {
    display: block;
    
  }






/* Extra large devices (large laptops and desktops, 1200px and up)  */
@media only screen and (min-width: 1200px) {



  .branding-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 1;
    margin: 1rem 0 0 0;
  }
  
  .menu-item {
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
  }
  
} 

/* Extra extra large devices (huge desktops, 2000px and up)  */
@media only screen and (min-width: 2000px) {

 


} 




}}